@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body{
    font-family: "Roboto", sans-serif !important;
    /* height: 10000px; */
    background-color: #F1F5F9 !important;
}

/* custom bootstrap */

.gold__color{
    color: gold;
}

.blue__light{
    background-color: #F1F5F9 !important;
}

.dark__blue{
    background-color: #10253E !important;
}

.extra__light__blue{
    background-color: #F1F5F9;
}

/* .dark_blue_dark{
    background-color: #10243E;
} */

.purple__bg{
    background-color: #311B92;
}

.purple__light__bg{
    background-color: #4B61DD;
}

.thumb__img{
    width: 50px !important;
}

.smallest__img{
    width: 20px;
}

.small__img__logo{
    width: 150px;
}

.home__section .main-title{
    font-size: 60px !important;
}

.home__hero__teks{
    padding:2rem 5%;
    max-width: 900px;
    margin-top: 100px;
}

/* .navbar img{
    width: 200px;
} */

.jumbotron{
    height: 600px ;
}

.overlay{
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
}

.testi__quote{
    height: 170px;
}

.testi__author img{
    width: 100px;
}

.wwa .card{
    background-color: #10243e;
    border-radius: 30px;
}

.clients__logo_items img{
    width: 200px;
}
/* 
.our_solution_card .card{
    background-color: #F1F5F9;
} */

.masthead__item{
    width: 500px;
}

.why__pusaka,
.prioritas__kami{
    background-color: #10243E;
}

.why__pusaka img{
    width: 35px;
}

/* .why__pusaka_soc{
    border-radius: 20px;
} */


.why__pusaka_soc  img{
    width: 35px;
}

.rss .card{
    background-color: #F1F5F9;
}
/* 
.why__pusaka_soc {
    background-color: #10243E;
} */

/* .wwa{
    padding: 0 3%;
} */

/* .footer img{
    width: 150px;
} */

.footer_logo img{
    width: 70px;
    height: 70px;
}

.block__opps_item_thumb img{
    width: 150px;
}

.our__blog__items .card{
    background-color: #F1F5F9;
}

.testimonials__{
    background-color: #10243E;
}

.testimonials__ .card{
    background-color: #F1F5F9;
}

.testimonials__ .testimonial__text{
    height: 200px;
}

.artikel .card{
    background-color: #F1F5F9;
}

.addr_location .location{
    width: 25%;
}

.addr_location .address{
    width: 75%;
}

/* Halaman Produk */
.masthead__product_2 h3,
.masthead__solusi h3{
    font-size: 45px;
}
/* 
.masthead__product_2 .card{
    padding: 3rem;
} */

/* .block__opps{
    padding: 2rem;
} */

.block__oops_img img{
    width: 700px;
    margin-bottom: 30px;
}


/* All page */
.custom_container{
    padding: 0 4rem !important;
}


/* Halaman Solusi */
/* .masthead__solusi .card{
    padding: 0 3rem;
} */

/* Halaman Resource */
/* .rss__news .card,
.rss__study .card{
    background-color: #F1F5F9;
} */

.rss_podcast .card{
    background-color: #4810C0;
}

.rss_podcast img{
    width: 100px;
}

.rss_banner .card{
    background-color: #F1F5F9;
}

.footer__cta .card__cta{
    background-color: #10243E;
}


/* Halaman Klien kami */
.post__items .card{
    height: 450px;
}


/* .post__img__thumb img{
    width: 300px;
    
} */

.post__items img{
    height: 200px;
    object-fit:cover;
}

.post__items .img_thumb{
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 30px;
    object-fit: contain;
}

.client__collection .card,
.bussiness .card{
    height: 500px;
}

.client__collection img,
.bussiness img{
    height: 200px;
}

.program_partnership img{
    width: 100px;
}

/* Halaman Login */
.container__login img{
    width: 200px;
}

/* Halaman Customer service */



/* Formating animasi */
.hover__efect:hover img{
    scale: 1.1;
    transition: .5s;
}



/* Fungsi Text Formating */
.small__text{
    font-size: 13px;
}

.extra__small__text{
    font-size: 11px;
}

.medium__text{
    font-size: 16px;
}

.extra__medium__text{
    font-size: 14px;
}

.large__text{
    font-size: 20px;
}

/* Formating margin */
.small__mt{
    margin-top: -15px;
}

/* Formating Bayangan */
.box__shadow{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


/* Formating Hover */
.hover__card__effect:hover{
    background-color: white;
    color: black;
    transition: .5s;
}

/* Format Tinggi Elemet Gambar */
.short_img{
    height: 200px;
}

/* Ini navbar */
.navbar__sect{
    padding: .3rem 4%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid rgb(231, 227, 227);
}

.navbar__sect .logo{
    margin-top: -10px;
}

.navbar__sect a{
    text-decoration: none;
    color: black;
}

/* .navbar__sect img{
    width: 150px;
} */

.navbar__sect ul li{
    display: inline-block;
    list-style: none;
    margin-right: 25px;
    position: relative;
}

.navbar__sect .navigation__sec span{
    margin-right: 10px;
}

.navbar__sect .sci__sec button{
    padding: 10px 20px;
    border: none;
    background: #4B61DD;
    border-radius: 10px;
    color: white;
}

.navbar__sect .sci__sec i{
    margin-right: 10px;
}

.navbar__sect li img{
    width: 20px;
}

.navbar__sect ul .underline{
    position: relative;
}

.navbar__sect .underline::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: purple;
    width: 100%;
    height: 3px;
    visibility: hidden;
}

.navbar__sect ul .underline:hover::before{
    visibility: visible;
}

/* Popup Styling */
.popup {
    display: none;
    position: absolute;
    margin-top: 5px;
    top: 100%;
    left: -200px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* padding: 1rem; */
    width: 860px;
    z-index: 200;
    /* border-radius: 5px; */
}

 

.popup__tabs {
    flex: 1;
    background-color: #FBFCFC;
}

.popup__tabs button {
    padding: 10px;
    cursor: pointer;
    color: #333;
}

/* .popup__tabs button.active {
    background-color: #4B61DD;
    color: white;
} */

.popup__content {
    flex: 2;
    padding: 2rem 1rem;
}

.popup__content h3{
    margin-bottom: 15px;
}

.popup__content .card__talent{
    width: 230px;
    gap: 20px;
    display: flex;
}

.popup__content .card__talent p{
    font-size: 12px;
    margin-top: 5px;
}

.popup__content #content1 li{
    margin-bottom: 15px;
}

.tab__content {
    display: none;
}

.tab__content.active {
    display: block;
}

.popup__content ul {
    list-style: none;
    padding-left: 0;
}

.popup__content ul li {
    margin-bottom: 10px;
}

.popup__content ul li a {
    text-decoration: none;
    color: #555;
}

/* .popup__content ul li a:hover {
    color: #4B61DD;
} */

/* Show Popup on Hover */
.product:hover .popup {
    display: flex;
}

/* Show Popup on Hover */
/* Popup Styling for Solutions */
.popup-solution {
    display: none; /* Sembunyikan popup secara default */
    /* position: absolute; */
    top: 100%;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Lebar popup solusi */
    /* z-index: 200; */
    /* border-radius: 5px; */
    /* margin-top: 5px; */
}

/* .solution .solusi__item{
    display: flex;
} */

/* .solution .solusi__item .img__thumb{
    margin-right: 10px;
} */

/* .popup-solution .popup__content {
    padding: 1rem;
} */

/* Show Popup on Hover for Solutions */
.solution:hover .popup-solution {
    display: flex; /* Tampilkan popup saat hover */
}

.solution__li:hover{
    background-color: #F7FBFF !important;
}


/* Popup Styling for Resources */
.popup-resource {
    display: none; /* Sembunyikan popup secara default */
    /* position: absolute; */
    top: 100%;
    left: -450px;
    /* background-color: white; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 900px; /* Lebar popup Resource */
    z-index: 200;
    /* border-radius: 5px; */
    /* margin-top: 5px; */
}

.popup-resource .popup__tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.popup-resource .tab {
    flex: 1;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.popup-resource .tab.active {
    border-bottom: 2px solid #007bff; /* Gaya untuk tab aktif */
}

/* .popup-resource .popup__content {
    padding: 1rem;
} */

/* Show Popup on Hover for Resources */
.resource:hover .popup-resource {
    display: flex; /* Tampilkan popup saat hover */
}


/* tentang mekari */
.popup-mekari {
    display: none; /* Sembunyikan popup secara default */
    width: 400px; /* Atur lebar popup */
    /* background-color: #fff;  */
    /* border: 1px solid #ccc;  */
    /* padding: 20px;  */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  */
    /* position: absolute;  */
    z-index: 1000; /* Di atas elemen lainnya */
    /* margin-top: 5px; */
}

.mekari:hover .popup-mekari {
    display: flex; /* Tampilkan popup saat hover */
    flex-direction: column; /* Susun kolom secara vertikal */
}


/* tab partner */
/* Layout untuk kolom */
/* Layout untuk kolom */
/* Layout untuk kolom */
/* Layout untuk kolom */
.row {
    display: flex;
}

.col-4 {
    flex: 0 0 33.33%;
}

.custom__col__12 {
    flex: 0 0 66.66%;
    padding-left: 20px;
    overflow-y: auto; /* Aktifkan scroll vertikal */
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 4px;
    max-height: 400px;
}

/* Style untuk tab button */
.tabs {
    display: flex;
    flex-direction: column;
}

.tab-link {
    /* background-color: #f1f1f1; */
    border: none;
    color: #333;
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    /* transition: background-color 0.3s; */
    margin-bottom: 5px;
}

.tab-link.active {
    font-weight: bold;
}

/* .tab-link:hover {
    background-color: #ddd;
} */

/* Style untuk tab content */
.tab-content {
    display: none;
    height: 400px;
}

.tab-content.active {
    display: block;
}

/* Responsive design */
@media (max-width: 768px) {
    .col-4, .col-8 {
        flex: 100%;
    }
}



/* Bg Body Login */
.bg_login{
    background-color: #F2F4F7;
}




@media (max-width:480px) {

    /* All page */
.custom_container{
    padding: 0 1rem !important;
}

    .navigation__sec{
        display: none;
    }

    .home__section .main-title{
        font-size: 30px !important;
    }

    .home__section ul{
        justify-content: flex-start;
    }

    .home__section ul li:nth-child(1){
        margin-left: 20px;
    }

    .masthead__logo{
        justify-content: center;
    }

    .masthead__logo img{
        width: 120px;
    }

    .clients__logo img{
        width: 100px;
    }

    .rss_title{
        text-align: center;
    }

    .masthead__item{
        width: 350px;
    }

    .cta__button ul,
    .cta__button ul li,
    .cta__button ul li button{
        width: 100%;
        margin: 0;
    }

    .footer__logo{
        margin-bottom: 50px;
    }

    .footer__logo img{
        width: 250px;
    }

    .addr_location .location{
        width: 100%;
    }

    .addr_location .address{
        width: 100%;
        margin-top: 10px;
    }

    .wwa{
        padding: 0 1%;
    }

    /* .small_card__logo{
        height: 50px;
        width: 50px;
    }
     */

    /* Halaman Produk */
    .masthead__product_2 h3{
        font-size: 40px;
    }
    

    .masthead__product_2 .card{
        padding: 1rem;
        text-align: center;
    }

    .block__oops_img img{
        width: 300px;
        margin-bottom: 30px;
    }

    .block__opps{
        padding: 1rem;
    }

    /* Halaman solusi */
    .masthead__solusi ul,
    .masthead__solusi ul li,
    .masthead__solusi ul li button{
        width: 100%;
    }

    .masthead__solusi .card{
        padding: 0 1rem;
    }

    .client{
        padding: 0 1rem;
    }

    /* Halaman CS */
    .panduan__cs{
        height: 5000px;
    }

    /* mobile nav */
    .sci__sec{
        display: none;
    }
}